.footer {
  background: var(--color-dark-gray);
  padding: 3rem 0 5.111rem;
}

.contact-wrapper {
  position: relative;
}

.contact-wrapper::before {
  position: absolute;
  content: '';
  width: 530px;
  height: 129px;
  top: 235px;
  left: -240px;
  background: url("/images/pattern-rings.svg") no-repeat center / 100% 100%;
}

.heading2 {
  float: left;
  font-size: var(--font-xxxl);
  line-height: var(--line-height-xxxl);
  letter-spacing: var(--letter-spacing-xxxl);
  margin-bottom: 2rem;
}

.p {
  position: absolute;
  color: var(--color-light-gray);
  white-space: pre-wrap;
  top: 6.5rem;
}

.contact-form {
  float: right;
  display: inline-block;
  width: 50%;
  width: 24.722rem;
}

.hr {
  clear: both;
  margin: 3rem 0;
}

.bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.author {
  font-size: var(--font-xl);
  display: inline-block;
  font-size: 1.778rem;
  line-height: 1.778rem;
  letter-spacing: -0.024rem;

}

.input, .textarea {
  margin-bottom: 1rem;
}

.button {
  float: right;
  margin: 0.778rem 0 5.111rem;
}

@media only screen and (max-width: 1100px) {
  .contact-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   }
   .p {
     text-align: center;
   }
   .contact-form {
     margin-top: 7rem;
   }
   .button {
     margin: 0 0 4rem;
   }
   .contact-wrapper::before {
     top: 505px;
   }
}

@media only screen and (max-width: 768px) {
  .bottom {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .heading2 {
    font-size: var(--font-xxl);
  }
  .contact-form {
    margin-top: 11rem;
    width: 90%;
  }
  .list {
    margin-top: 1.5rem;
  }
}
