.heading2 {
  font-size: var(--font-xxxl);
  line-height: var(--line-height-xxxl);
  letter-spacing: var(--letter-spacing-xxxl);
  white-space: pre-line;
}

.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  content: '';
  width: 100%;
  top: 90%;
  left: 0;
  border-bottom: 6px solid var(--color-neon);
}

.pre-wrap {
  white-space: pre-wrap;
}

.sub {
  margin: 2.5rem 0 3.611rem;
}

.skillful {
  margin: 12.222rem 0;
  border-top: 1px solid var(--color-white);
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3.222rem;
  width: 33%;
}

.skill {
  font-size: var(--font-xxl);
  font-weight: var(--weight-bold);
  line-height: var(--line-height-xxl);
  letter-spacing: var(--letter-spacing-xxl);
  margin-bottom: 0.778rem;
}
