.heading2 {
  font-size: var(--font-xxxl);
  line-height: var(--line-height-xxxl);
  letter-spacing: var(--letter-spacing-xxxl);
  white-space: pre-wrap;
  margin-top: 4rem;
}

.underline {
  position: relative;
  text-decoration: underline;
  text-decoration-color: var(--color-neon);
  text-underline-offset: 1rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.sub {
  margin: 2.5rem 0 3.611rem;
  color: var(--color-light-gray);
}

.skillful {
  margin: 12.222rem 0 7.778rem;
  border-top: 1px solid var(--color-white);
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow: hidden;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3.222rem;
  width: 33%;
}

.skill {
  font-size: var(--font-xxl);
  font-weight: var(--weight-bold);
  line-height: var(--line-height-xxl);
  letter-spacing: var(--letter-spacing-xxl);
  margin-bottom: 0.778rem;
}
 
@media only screen and (max-width: 1100px) {
  .heading2 {
    width: 75%;
  }
  .sub {
    margin: 4.5rem 0 2.5rem;
  }
  .skillful {
    margin: 3.333rem 0 5.556rem;
  }
  .item {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .heading2 {
    font-size: var(--font-xxl);
    line-height: var(--line-height-xxl);
    letter-spacing: var(--letter-spacing-xxl);
    margin-top: 18rem;
    text-align: center;
  }
  .pre-wrap {
    text-align: center;
  }
  .sub {
    margin: 2rem 0 1.5rem;
  }
  .item {
    align-items: center;
    width: 100%;
  }
}
