.list {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.778rem;
  z-index: 10;
}

.item {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.link > svg path {
  transition: fill 0.3s;
}

.link:hover > svg path {
  fill: var(--color-neon);
}
