@import '@/app/theme.css';

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-white);
}

html,
body {
  font-size: 18px;
  line-height: var(--line-height-md);
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: var(--font-xxxl);
  line-height: var(--line-height-xxxl);
  letter-spacing: var(--letter-spacing-xxxl);
}

h2 {
  font-size: var(--font-xxl);
  line-height: var(--line-height-xxl);
  letter-spacing: var(--letter-spacing-xxl);
}

h3 {
  font-size: var(--font-xl);
  line-height: var(--line-height-xl);
}
