.top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.heading2 {
  font-size: var(--font-xxxl);
}

.card {
  margin: 4.444rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
}

.item {
  position: relative;
  margin-bottom: 3.833rem;
  width: 49%;
}

.button-project {
}

.button-code {
  margin-top: 1.111rem;
  margin-left: 1.667rem;
}

.opacity-wrapper {
}

.title {
  padding: 0.5rem 0;
}

.skills {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.skill {
  color: var(--color-light-gray);
}

@media only screen and (min-width: 1100px) {
  .item:hover .opacity-wrapper {
    transition: 0.5s;
    opacity: 0.3;
  }

  .button-project, .button-code {
    opacity: 1;
    display: none;
    padding: 0 0 0.556rem;
    margin: 0;
  }

  .item:hover .button-project {
    opacity: 1;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item:hover .button-code {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .heading2 {
    font-size: var(--font-xxl);
  }
 .item {
   width: 100%;
 }
}
